.welcome{
    background-image: url(./img/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 500px;
    padding: 50px;
}
.welcome-message{
    margin-top: 50px;
    padding: 30px;
}
.welcome .welcome-message img{
    margin-top: 150px;
}
.about{
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    height: 300px;
}
.services{
    text-align: center;
    color: white;
    background-image: url(./img/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin-top: 50px;
    height: 300px;
}
.what-we-do{
    text-align: center;
    height: 400px;
}
.what-we-do-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portfolio{
    text-align: center;
}
.portfolio-icon-top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portfolio-icon-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.portfolio .portfolio-icon img{
    height: 200px;
    width: 200px;
    padding: 20px;
}